*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;

    height: 100%;
    background-color: white;
}




.logom{
   
    position: relative;
    display: inline;


}
.logo{
   
    padding: 50px 200px 20px 250px;
    margin: 10px 0px 0px 20px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.advert img{
    box-shadow: 0px 2px 4px 0px;
    width: 1400px;
    height: 150px;
}
.advert{
    
    background-color: rgba(0,0,0,0.25);
    content: "";
    width: 100px;
    height: 150px;
    position: absolute;
    margin-top: 30px;
    margin-left: 500;
    padding: 0px 0px 0px 0px;
}

.advert::before{
   
    background-color: rgba(61, 60, 60, 0.568);
    content: "";
    width: 1400px;
    height: 150px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0;
    padding: 0px 0px 0px 0px;
}



.centered {
    letter-spacing: 10px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    opacity: 1;
    font-size: 50px;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 650px;
    transform: translate(-50%, -50%);
  }

  .sub {
    letter-spacing: 10px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    opacity: 1;
    font-size: 20px;
    width: 700px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 255, 255);
    position: absolute;
    top: 80%;
    left: 720px;
    transform: translate(-50%, -50%);
  }

  .ewan {
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgb(253, 252, 252);
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-size: 15px;
    width: 150px;
    height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 1200px;
    transform: translate(-50%, -50%);
  }






  .navbar{
    box-shadow: 0px 0px 10px 0px;
    padding-top: 200px;
  }

  .navbar input[type=text] {
    width: 500px;
    float: right;
    padding: 6px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: 75px;
    font-size: 17px;

  }


  .navbar button {
    position: absolute;
    width: 5%;
    margin-left: 970px;
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border: 0px;
    border-left: none; 
    cursor: pointer;
  }


  ul {
    list-style-type: none;
    margin-left: 250px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }

  li {
   float: left;
  }
  li a {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
  }

  li a:hover {
   border-bottom: 5px solid rgb(15, 111, 253);
   
  }

  li a.active {
    border-bottom: 5px solid rgb(15, 111, 253);
 
   }


.content{
    height: 800px;
    width: 100%;
 
}




.trend{
    padding: 20px 50px 0px 60px;
    width: 200px;
   


}

.trd{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    left: 240px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    position: absolute;
}
.trd2{
    font-weight: 500;
    letter-spacing: 2px;
    display: inline;
    position: absolute;
    left: 190px;
    padding: 4px 0px 0px 230px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    
    
}


.firstL img{

    width: 710px;
    height: 650px;
    margin-top: 30px;
    margin-left: 210px;
    padding: 0px 0px 0px 0px;
}
.firstL{
   
    content: "";
    width: 900px;
    height: 650px;
    position: absolute;
    margin-top: 30px;
    margin-right: 50%;
    padding: 0px 0px 0px 0px;
}

.firstL::before{
   
    background-color: rgba(61, 60, 60, 0.568);
    content: "";
    width: 710px;
    height: 650px;
    position: absolute;
    margin-top: 30px;
    margin-left: 210px;
    padding: 0px 0px 0px 0px;
}

.Fsubtext{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 0px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
}
.Fsubtext2M{
    display: inline;
    position: absolute;
    padding: 2px 10px 10px 190px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    
}



.firsttext {
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-size: 60px;
    width: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: absolute;
    top: 80%;
    left: 550px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
  }

.Mlabel1{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: -320px 0px 0px 50px;
    width: 200px;
    display: inline;
   


}

.label1{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    position: absolute;
}


.secondL img{
    
    width: 960px;
    height: 350px;
    margin-top: -80px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
    
}
.secondL{
    content: "";
    width: 960px;
    height: 350px;
    position: absolute;
    margin-top: -570px;
    margin-left: 101%;
    padding: 0px 0px 0px 0px;
}

.secondL::before{
   
    background-color: rgba(61, 60, 60, 0.568);
    content: "";
    width: 960px;
    height: 350px;
    position: absolute;
    margin-top: -80px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
}


.Mlabel2{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: -180px 0px 0px 50px;
    width: 200px;
    display: inline;
   


}

.label2{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    position: absolute;
}

.secondtext {
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-size: 45px;
    width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: absolute;
    top: 55%;
    left: 450px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
  }








.thirdL img{
    
    width: 477px;
    height: 294px;
    margin-top: -80px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
    
}
.thirdL{
    content: "";
    width: 477px;
    height: 294%;
    position: absolute;
    margin-top: 116px;
    margin-left: -6.3%;
    padding: 0px 0px 0px 0px;
}

.thirdL::before{
   
    background-color: rgba(61, 60, 60, 0.568);
    content: "";
    width: 477px;
    height: 294px;
    position: absolute;
    margin-top: -80px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
}


.Mlabel3{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: -110px 0px 0px 50px;
    width: 200px;
    display: inline;
   


}

.label3{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    position: absolute;
}

.thirdtext {
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-size: 25px;
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: absolute;
    top: 55%;
    left: 250px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
  }







.fourthL img{
    
    width: 477px;
    height: 294px;
    margin-top: -423px;
    margin-left: 480px;
    padding: 0px 0px 0px 0px;
    
}
.fourthL{
    content: "";
    width: 480px;
    height: 294%;
    position: absolute;
    margin-top: 135px;
    margin-left: -6.3%;
    padding: 0px 0px 0px 0px;
}

.fourthL::before{
   
    background-color: rgba(61, 60, 60, 0.568);
    content: "";
    width: 477px;
    height: 294px;
    position: absolute;
    margin-top: -423px;
    margin-left: 480px;
    padding: 0px 0px 0px 0px;
}


.Mlabel4{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: -240px 0px 0px 500px;
    width: 200px;
    display: inline;
   


}

.label4{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    position: absolute;
}

.fourthtext {
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-size: 25px;
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: absolute;
    top: -80%;
    left: 700px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
  }

  .sidenav{
    box-shadow: 3px 2px 5px;
    z-index: 1;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #331E38;
}

.sidenav img{
    
    padding: 150px 25px 0px 35px;
    width: 130px;
}

.childnav{
    margin-top: 90px;
    width: 200px;
    height: 50%;

}

.sidenav a {
    line-height: 3em;
    text-align: center;
    font-weight: 500;
    font-family: Roboto;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #ffffff;
    width: 120px;
    margin-left: 45px;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .sidenav a:hover {
    font-size: 1.5em;
    color: #ffee00;
    border-bottom: 0px;
  }